html, body{
    height:100%;
    position: relative;
}

.navbar{
    position: fixed;
    top:0;
    width:100%;
}

.main{  
    margin:auto;
    margin-top: 60px;
    max-width: 1000px;
}

#carouselExampleIndicators{
    Width: 100%;
}
